body {
    background-color: blue;
    height: 100%;
}

html {
    height: 100%;
}

.title {
    text-align: center;
    font-weight: 1000;
}

img {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.profile {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.uname {
    margin: 0;
    height: 17%;
    font-size: 75px;
    margin-bottom: 15%;
}

.profinfo {
    display: flex;
    flex-direction: column;
}