html {
    height: 100%;
    padding: 0;
    background-color: rgba(252, 10, 243, 0.13);
}

body {
    margin: auto;
    max-width: 1100px;
    height: 100%;
    background-color: rgba(0, 255, 20, 0.26)
}

footer {
    margin: auto;
    max-width: 100%;
    background-color: green;
}

.title {
    margin: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 4%;
}

.box {
    display: flex;
    flex-direction: row;
}

h2 {
    border: 1px solid black;
    margin: 0;
    padding-left: 1%;
}

h3 {
    border: 0.5px solid black;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.size1 {
    width: 20%;
}

.size2 {
    width: 20%;
}

.size3 {
    width: 20%;
}

.size4 {
    width: 20%;
}

.size5 {
    width: 20%;
}

.size6 {
    width: 20%;
}

.center {
    justify-content:space-around;
}