html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.profile {
    display: flex;
    height: 100%;
}

.c {
    padding: 1em;
}

.profinfo {
    width: 30%;
    height: 43%;
}

.bgcolor {
    background-color: aqua
}

.imgsize {
    height: 43%;
    width: 30%;
}