$MCol:  rgb(123,255,56);
$MCols: $MCol * 0.7;

$MCol2:  rgb(255,123,56);
$MCol2s: $MCol * 0.7;

$MCol3:  rgb(56,123,255);
$MCol3s: $MCol * 0.7;

html {
    width: 100%;
    height: 100%;
    body {
        color: black;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        .user-and-game {
            display: flex;
            flex-flow: column;
            width: 60%;
        }

        .nav-and-score {
            display: flex;
            flex-flow: column;
            width: 40%;
        }
        .user-and-game {
            display: flex;
            flex-flow: column;
            width: 60%;
        }

        .nav-and-score {
            display: flex;
            flex-flow: column;
            width: 40%;
        }

        .userInfo {
            width: 100%;
            height: 25%;
            background-color: $MCol2;
            margin: 0;
            text-align: center;
            border: none;
        }

        .navBar {
            background-color: $MCol3;
            margin:0;
            width: 100%;
            height: 15%;
            text-align: center;
        }

        .gameBox {
            margin: 0;
            width: 100%;
            height: 75%;
            border: none;
        }

        .scoreboard {
            width: 100%;
            height: 85%;
            background-color: $MCol;
            margin: 0;
            border: none !important;
        }
    }
}

.unlogBody {
    display: flex;
    justify-content: center;
    .wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        .login {
            margin-left: 40%;
            width: 25%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            input {
                height: 2em;
                margin-bottom: 0.2em;
            }
        }
        .signup {
            margin-right: 40%;
            width: 25%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            input {
                height: 2em;
                margin-bottom: 0.2em;
            }
        }
    }
}

.leadBody {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    #lister {
        min-height: 100%;
        display: none;
        width: 100%;
        border-collapse: collapse;
        tbody { 
            min-height: 100%;
            display: table;
            width: 100%;
            th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            text-align: left;
            }
            tr {
                width: 100%;
            }
            tr:nth-child(even) {
                background-color: $MCol;
            }
            tr:nth-child(odd) {
                background-color: $MCols;
            }
        }
    }
}