html {
    width: 100%;
    height: 100%;
}

body {
    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

.user-and-game {
    display: flex;
    flex-flow: column;
    width: 60%;
}

.nav-and-score {
    width: 40%;
}

.userInfo {
    width: 100%;
    height: 25%;
    background-color: green;
    margin: 0;
    text-align: center;
}

.navBar {
    background-color: yellow;
    margin:0;
    width: 100%;
    height: 15%;
    text-align: center;
}

.gameBox {
    margin:0;
    width: 100%;
    height: 75%;
    border: none;
}

.scoreboard {
    width: 100%;
    height: 85%;
    background-color: blue;
    margin: 0;
    text-align: center;
}