body {
    background-color: black;
    color: black;
    margin: auto;
    overflow: hidden;
}

.userInfo {
    background-color: green;
    margin: 0;
    width: 60%;
    height:275.4px;
    float: left;
    line-height: 230px;
    text-align: center;
}

.navBar {
    background-color: yellow;
    margin:0;
    width: 40%;
    height: 183.6px;
    line-height: 150px;
    text-align: center;
    float: right;
}

.gameBox {
    background-color: red;
    margin:0;
    width: 60%;
    height: 643px;
    line-height: 643px;
    text-align: center;
    float: left;
}

.scoreboard {
    background-color: blue;
    margin: 0;
    width: 40%;
    height: 735px;
    line-height: 735px;
    margin-top: -91px;
    text-align: center;
    float: right;
}